In [1]:
import pandas as pd
import numpy as np

In [9]:
score_data=pd.read_table(r'E:/BaiduNetdiskDownload/jzzz/train/score_train.txt', sep = ',', quotechar =',',
                          names = ['user_id','department','ranking',],
                          encoding='utf-8',header=None)
score_data[:10]

   user_id  department  ranking
0        0           9        1
1        1           9        2
2        8           6     1565
3        9           6     1570
4       10           3        1
5       11           3        2
6       19           7        7
7       20           7      356
8       21           7      381
9       22           8     1734

In [10]:
lines=len(score_data)
lines

9130

In [13]:
score_data=score_data.sort_values(['department'])
score_data.head()

      user_id  department  ranking
6845    20563           1      144
8772    30507           1      352
8773    30509           1      353
94        267           1      292
93        266           1      291